{%  load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Max Gosselin</title>

        <!-- Django css workaround -->
        <style>
            .page-background{
                background-image: url(" {% static 'tools/img/circuit-board.svg' %} ");
                background-color: #41494E;
                background-repeat: no-repeat;
                background-size: cover;
                
            }
        </style>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        

        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
        <link rel='stylesheet' href='https://overpass-30e2.kxcdn.com/overpass.css'>
        <link rel="stylesheet" href="{% static 'tools\css\tools.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/248ac55434.js" crossorigin="anonymous"></script>
        <!-- {{ script | safe }} -->
    </head>

    <body class="page-background">
        <div class="page-main corners">
            <div class="tools-title">
                <h2 class="display-3 tools-title-heading">Tools</h2>
                <p>A Section to display your coding/modeling tools!</p>
            </div>
            <div class="tools-list">
                <div class="tools-item accent-color">
        
                    <div class="row tools-item-detail">
                        <div class="col-sm-3 item-thumbnail">
                            <img class="d-block w-100" src="{% static 'tools/img/global.png' %}">
                        </div>
                        <div class="col-sm-9 detail-text">
                            <h3 class="tools-item-name">Tool 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius porta dui, dictum cursus purus tempus ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tincidunt enim eu porta accumsan. Morbi a nibh porttitor, molestie tortor quis, interdum orci. Quisque porttitor orci elit, non rutrum mi tempor quis. Curabitur mauris neque, interdum id mi interdum, consectetur porta ipsum. Maecenas sed lacus ut neque venenatis consectetur. Praesent convallis finibus nibh vitae consectetur. Ut accumsan, felis eget molestie cursus, nibh mauris auctor augue, facilisis commodo tellus urna vitae mauris. Etiam eleifend ante ac blandit efficitur. Ut tortor felis, facilisis vel nisl nec, lacinia consequat tortor. In hac habitasse platea dictumst. Aenean blandit risus laoreet sem hendrerit, at varius dolor vulputate. Vivamus vehicula lectus quis ex efficitur finibus.</p>
                            <p>View the source code <a class="detail-link" href="#">here</a>. </p>
                        </div>
                    </div>
                </div>
                <div class="tools-item">
                    
                    <div class="row tools-item-detail">
                        <div class="col-sm-3 item-thumbnail">
                            <img class="d-block w-100" src="{% static 'tools/img/mouse.png' %}">
                        </div>
                        <div class="col-sm-9 detail-text">
                            <h4 class="tools-item-name">Tool 2</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius porta dui, dictum cursus purus tempus ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tincidunt enim eu porta accumsan. Morbi a nibh porttitor, molestie tortor quis, interdum orci. Quisque porttitor orci elit, non rutrum mi tempor quis. Curabitur mauris neque, interdum id mi interdum, consectetur porta ipsum. Maecenas sed lacus ut neque venenatis consectetur. Praesent convallis finibus nibh vitae consectetur. Ut accumsan, felis eget molestie cursus, nibh mauris auctor augue, facilisis commodo tellus urna vitae mauris. Etiam eleifend ante ac blandit efficitur. Ut tortor felis, facilisis vel nisl nec, lacinia consequat tortor. In hac habitasse platea dictumst. Aenean blandit risus laoreet sem hendrerit, at varius dolor vulputate. Vivamus vehicula lectus quis ex efficitur finibus.</p>
                            <p>View the source code <a class="detail-link" href="#">here</a>. </p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="btn-home-wrapper text-center">
            <a class="btn btn-lg btn-home" href="../..">Home</a>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>